/* react-image-crop のスタイルを上書きする */
.ReactCrop, .ReactCrop > div:first-child {
  display: block;
  background-color: transparent;
}

/* ウィンドウ全体を crop 可能な領域にする */
.CropTarget {
  width: 100vw;
  height: 100vh;
}
